.login-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.login-subtitle {
  font-size: 18px;
  color: #686868;
  font-weight: 00;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 35px;
}
.input-group {
  display: flex;
  flex-direction: column;
}
.input-group input {
  border: 1px solid var(--primary-color);
  padding: 5px 8px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 15px;
}
.input-group label {
  font-size: 15px;
}
.main-subclass {
  margin: auto;
  padding-top: 50px;
  max-width: 400px;
}
.submit {
  background: var(--primary-color);
  width: 100%;
  color: white;
}
.forgot-pass,
.signup {
  color: var(--primary-color);
  font: 500 18px;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-top: 10px;
}
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 12px 0;
}

.divider hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 10px;
}

.divider span {
  font-size: 16px;
  color: #686868;
}
.login-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
