.reset-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #424242;
}
.reset-subtitle {
  font-size: 18px;
  color: #686868;
  font-weight: bold;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 35px;
}
.input-group {
  display: flex;
  flex-direction: column;
}
.input-group input {
  border: 1px solid var(--primary-color);
  padding: 5px 8px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 15px;
}
.input-group label {
  font-size: 15px;
}
.main-subclass {
  margin: auto;
  padding-top: 50px;
  max-width: 400px;
}
.reset {
  background: var(--primary-color);
  width: 100%;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.3s;
  font-weight: bold;
}
.reset:hover {
  opacity: 0.9;
}
